{% extends "base.html" %} {% load static %} {% block left_sidebar %}
{%endblock%} {% block content_column %} col-sm-12 {% endblock %} {% block content%}
<section id="cart_items">
  <div class="container">
    <div class="breadcrumbs">
      <ol class="breadcrumb">
        <li><a href="#">Home</a></li>
        <li class="active">Check out</li>
      </ol>
    </div>
    <!--/breadcrums-->

    <div class="step-one">
      <h2 class="heading">Step1</h2>
    </div>
    <!--/register-req-->
    <div class="review-payment">
      <h2>Review & Payment</h2>
    </div>

    <div class="table-responsive cart_info">
      <table class="table table-condensed">
        <thead>
          <tr class="cart_menu">
            <td class="image">Item</td>
            <td class="description"></td>
            <td class="price">Price</td>
            <td class="quantity">Quantity</td>
            <td class="total">Total</td>
            <td></td>
          </tr>
        </thead>
        <tbody>
          {% for item in products%}
          <tr>
            <td class="cart_product">
              <a href=""
                ><img
                  src="/media/{{item.prd.image.1}}"
                  style="height: 60px; width: 80px"
                  alt=""
              /></a>
            </td>
            <td class="cart_description">
              <h4><a href="">{{item.prd.name}}</a></h4>
              <p>Web ID: {{item.prd.id}}</p>
            </td>
            <td class="cart_price">
              <p>$ {{item.prd.price}}</p>
            </td>
            <td class="cart_quantity">
              <div class="cart_quantity_button">
                <a class="cart_quantity_up" data-id="{{item.prd.id}}" href="">
                  +
                </a>
                <input
                  class="cart_quantity_input"
                  type="text"
                  name="quantity"
                  value="{{item.quantity}}"
                  autocomplete="off"
                  size="2"
                />
                <a class="cart_quantity_down" data-id="{{item.prd.id}}" href="">
                  -
                </a>
              </div>
            </td>
            <td class="cart_total">
              <p class="cart_total_price">${{item.total}}</p>
            </td>
            <td class="cart_delete">
              <a class="cart_quantity_delete" data-id="{{item.prd.id}}" href=""
                ><i class="fa fa-times"></i
              ></a>
            </td>
          </tr>
          {%endfor%}
          <tr>
            <td colspan="4">&nbsp;</td>
            <td colspan="2">
              <table class="table table-condensed total-result">
                <tr>
                  <td>Cart Sub Total</td>
                  <td>$59</td>
                </tr>
                <tr>
                  <td>Exo Tax</td>
                  <td>$2</td>
                </tr>
                <tr class="shipping-cost">
                  <td>Shipping Cost</td>
                  <td>Free</td>
                </tr>
                <tr>
                  <td>Total</td>
                  <td class="cart_total_sum"><span>{{cart_total}}</span></td>
                </tr>
                <tr>
                  <td><button class="btn btn-default check_out" id="order_bt" >Order</button></td>
                </tr>
              </table>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="payment-options">
      <span>
        <label><input type="checkbox" /> Direct Bank Transfer</label>
      </span>
      <span>
        <label><input type="checkbox" /> Check Payment</label>
      </span>
      <span>
        <label><input type="checkbox" /> Paypal</label>
      </span>
    </div>
  </div>
</section>
<script>
  $(document).ready(function () {
    $(".cart_quantity_up, .cart_quantity_down,.cart_quantity_delete").click(
      function (e) {
        e.preventDefault();
        let button = $(this);
        idPrd = $(this).data("id");
        let upPrd = 0;
        let downPrd = 0;
        let deletePrd = 0;
        if ($(this).hasClass("cart_quantity_up")) {
          upPrd = 1;
        } else if ($(this).hasClass("cart_quantity_down")) {
          downPrd = 1;
        } else  {
          deletePrd = 1;
        }
        $.ajax({
          type: "POST",
          url: "{% url 'cart:prdUp' %}",
          headers: {
            "X-CSRFToken": "{{csrf_token}}",
          },
          data: {
            upPrd: upPrd,
            downPrd: downPrd,
            idPrd: idPrd,
            deletePrd: deletePrd,
            idUser:idUser,
            order_bt:order_bt,
          },
          success: function (data) {
            let row = button.closest("tr");
            if (data.success) {
              row.find(".cart_quantity_input").val(data.quantity);
              row.find(".cart_total_price").text("$" + data.total);
            }
            if (data.deleted) {
              row.remove();
            }
            if (data.cart_total){
                $('.cart_total_sum span').text('$' + data.cart_total)            }
          },
        });
      },
    );
    $('#order_bt').click(function(e){
      $.ajax({
        type: 'POST',
        headers:{
          'X-CSRFToken':'{{csrf_token}}'
        },
        url:"{% url 'cart:send_email' %}",
        success:function(data){
          if(data.success){
            window.location.href = data.url
          }
        }
      })
    })
  });
</script>
{%endblock%}
