{% extends 'base.html' %} {% load static %} {% block content %}
<section>
  <div class="container">
    <div class="row">
      <div class="col-sm-9">
        <div class="blog-post-area">
          <div class="single-blog-post">
            <h3>{{blog.title}}</h3>
            <div class="post-meta">
              <ul>
                <li><i class="fa fa-user"></i>{{blog.author}}</li>
                <li>
                  <i class="fa fa-clock-o"></i> {{blog.created_at|date:'H:i'}}
                </li>
                <li>
                  <i class="fa fa-calendar"></i>
                  {{blog.created_at|date:'d/m/Y'}}
                </li>
              </ul>
              <!-- <span>
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star-half-o"></i>
								</span> -->
            </div>
            <a href="">
              <img src="{{blog.image.url}}" alt="" />
            </a>
            <p>{{blog.content}}</p>
            <div class="pager-area">
              <ul class="pager pull-right">
                {% if pre_blog %}
                <li>
                  <a href="{% url 'blog:BlogDetail' pre_blog.id %}">Pre</a>
                </li>
                {% endif %} {% if next_blog %}
                <li>
                  <a href="{% url 'blog:BlogDetail' next_blog.id %}">Next</a>
                </li>
                {% endif %}
              </ul>
            </div>
          </div>
        </div>
       <div class="response-area">
						<h2>{{count_comment}} RESPONSES</h2>
						<ul class="media-list">
              {% for blog_comment in blog_comments %}
							<li class="media" data-blog-id ='{{blog.id}}' data-comment-id="{{blog_comment.id}}">
								<a class="pull-left" href="#">
									<img class="media-object" src="{{blog_comment.avatar.url}}" alt="">
								</a>
								<div class="media-body">
									<ul class="sinlge-post-meta">
										<li><i class="fa fa-user"></i>{{blog_comment.name_user}}</li>
										<li><i class="fa fa-clock-o"></i>{{blog_comment.time|date:"H:i"}}</li>
										<li><i class="fa fa-calendar"></i>{{blog_comment.time|date:"d/m/Y"}}</li>
									</ul>
									<p>{{blog_comment.cmt}}</p>
									<a class="btn btn-primary replay" ><i class="fa fa-reply"></i>Replay</a>
                  <div class="text-area" style="display:none;">
									  <div class="blank-arrow">
										  <label>{{request.user.username}}</label>
									  </div>
									  <textarea name="message" rows="11"></textarea>
									  <a class="btn btn-primary post_comment_child" >post comment</a>
								  </div>
								</div>
							</li>
              
              {% for comment in blog_comment.child %}
              <li class="media second-media" data-blog-id='{{blog.id}}' data-comment-id="{{blog_comment.id}}">
								<a class="pull-left" href="#">
									<img class="media-object" src="{{ comment.avatar.url }}" alt="">
								</a>
								<div class="media-body">
									<ul class="sinlge-post-meta">
										<li><i class="fa fa-user"></i>{{comment.name_user}}</li>
										<li><i class="fa fa-clock-o"></i>{{comment.time|date:'H:i'}}</li>
										<li><i class="fa fa-calendar"></i>{{comment.time|date:'d/m/Y'}}</li>
									</ul>
									<p>{{comment.cmt}}</p>
									<a class="btn btn-primary replay" ><i class="fa fa-reply"></i>Replay</a>
                  <div class="text-area" style="display:none;">
									  <div class="blank-arrow">
										  <label>{{request.user.username}}</label>
									  </div>
									  <textarea name="message" rows="11"></textarea>
									  <a class="btn btn-primary post_comment_child" >post comment</a>
								  </div>
								</div>
							</li>
              {% endfor %}
              {% endfor %}
              

						</ul>	
					</div><!--/Response-area-->
					<div class="replay-box">
						<div class="row" data-blog-id="{{blog.id}}">
							<div class="col-sm-12">
								<h2>Leave a replay</h2>
								
								<div class="text-area">
									<div class="blank-arrow">
										<label>{{request.user.username}}</label>
									</div>
									<span>*</span>
									<textarea name="message" rows="11"></textarea>
									<a class="btn btn-primary post_comment" >post comment</a>
								</div>
							</div>
						</div>
					</div>
      </div>
    </div>
  </div>
</section>
<script>
  $('.post_comment').click(function(){
    var checkLogin ='{{user.is_authenticated}}'
    let row =$(this).closest('.row')
    let id_blog=row.data('blog-id')
    if(checkLogin =='True'){
      comment = row.find('textarea').val()
      console.log(id_blog)
      console.log(comment)
      $.ajax(
      {
        type : 'POST',
        url:'/blog/comment/',
        data:{
          cmt:comment,
          id_blog :id_blog,
        },
        headers:{
          "X-CSRFToken": "{{ csrf_token }}"
        },
        success:function(data){
          if(data.success){
            alert('cảm ơn bạn đã comment')
            location.reload()

          }else{
            alert(data.err)
          }
        }
      }
      )
    }else{
      alert('Bạn cần đăng nhập để comment')
    }
  })
  $('.replay').click(function(e){
    var checkLogin ='{{user.is_authenticated}}'
    if(checkLogin =='True'){
      e.preventDefault()
      let commentBox =$(this).closest('.media')
      $(this).hide()
      commentBox.find('.text-area').show()  
      commentBox.find('.post_comment_child').click(function(){
          let blog_id = commentBox.data('blog-id')
          let id_cmt = commentBox.data('comment-id')
          let cmt = commentBox.find('textarea').val()
          $.ajax(
            {
              type:'POST',
              url :'/blog/comment_child/',
              headers:{
                 "X-CSRFToken": "{{ csrf_token }}"
              },
              data:{
                cmt:cmt,
                id_blog:blog_id,
                id_cmt:id_cmt
              },
              success:function(data){
                if(data.success){
                  alert('cảm ơn bạn đã trả lời')
                  commentBox.find('.text-area').hide()
                  commentBox.find('.replay').show()
                }else{
                  alert(data.err)
                }
              }
            }
          )
      })
  
    }else{
      alert('Bạn cần đăng nhập để comment')
    }
})
</script>
{% endblock %}
