{% extends 'base.html' %} {% load static %} {% block content %}
<section>
  <div class="container">
    <div class="row">
      <div class="col-sm-9">
        <div class="blog-post-area">
          <div class="single-blog-post">
            <h3>{{blog.title}}</h3>
            <div class="post-meta">
              <ul>
                <li><i class="fa fa-user"></i>{{blog.author}}</li>
                <li>
                  <i class="fa fa-clock-o"></i> {{blog.created_at|date:'H:i'}}
                </li>
                <li>
                  <i class="fa fa-calendar"></i>
                  {{blog.created_at|date:'d/m/Y'}}
                </li>
              </ul>
              <!-- <span>
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star-half-o"></i>
								</span> -->
            </div>
            <a href="">
              <img src="{{blog.image.url}}" alt="" />
            </a>
            <p>{{blog.content}}</p>
            <div class="pager-area">
              <ul class="pager pull-right">
                {% if pre_blog %}
                <li>
                  <a href="{% url 'blog:BlogDetail' pre_blog.id %}">Pre</a>
                </li>
                {% endif %} {% if next_blog %}
                <li>
                  <a href="{% url 'blog:BlogDetail' next_blog.id %}">Next</a>
                </li>
                {% endif %}
              </ul>
            </div>
          </div>
        </div>
        <!--/blog-post-area-->

        <!--/rating-area-->

        <!--/socials-share-->

        <!-- <div class="media commnets">
						<a class="pull-left" href="#">
							<img class="media-object" src="images/blog/man-one.jpg" alt="">
						</a>
						<div class="media-body">
							<h4 class="media-heading">Annie Davis</h4>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.  Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
							<div class="blog-socials">
								<ul>
									<li><a href=""><i class="fa fa-facebook"></i></a></li>
									<li><a href=""><i class="fa fa-twitter"></i></a></li>
									<li><a href=""><i class="fa fa-dribbble"></i></a></li>
									<li><a href=""><i class="fa fa-google-plus"></i></a></li>
								</ul>
								<a class="btn btn-primary" href="">Other Posts</a>
							</div>
						</div>
					</div> --><!--Comments-->

        <!--/Response-area-->

        <!--/Repaly Box-->
      </div>
    </div>
  </div>
</section>
{% endblock %}
