{% extends 'base.html' %} {% load static %} {% block css %} {{ block.super }}
<link rel="stylesheet" href="{% static 'rate/css/rate.css' %}" />
{% endblock %} {% block js %} {{ block.super }}
<script src="{% static 'rate/js/rate.js' %}"></script>
<script>
  $(document).ready(function () {
    $(".ratings_stars").hover(
      function () {
        $(this).prevAll().andSelf().addClass("ratings_hover");
      },
      function () {
        $(this).prevAll().andSelf().removeClass("ratings_hover");
      },
    );
    $(".ratings_stars").click(function () {
      var checkLogin = "{{ user.is_authenticated }}";
      if (checkLogin) {
        var value = $(this).find("input").val();
        let id_blog = $(this).closest('.rate').data('blog-id')
        if ($(this).hasClass("ratings_over")) {
          $(".ratings_stars").removeClass("ratings_over");
          $(this).prevAll().andSelf().addClass("ratings_over");
        } else {
          $(this).prevAll().andSelf().addClass("ratings_over");
        }
        $.ajax({
          type:'POST',
          headers:{
            'X-CSRFToken':'{{ csrf_token }}'
          },
          url:'/blog/rate/',
          data:{
            rate:value,
            id_blog:id_blog
          },
          success:function(data){
            if (data.success){
              alert('cảm ơn bạn đã đánh giá')
              
            }else{
              alert(data.err)
            }
          }
        })
      } else {
        alert("vui lòng đăng nhập để đánh giá");
      }
    });
  });
</script>
{% endblock %} {% block content %} 
{% for blog in page_obj %}
<div class="single-blog-post">
  <h3>{{ blog.description}}</h3>
  <div class="post-meta">
    <ul>
      <li><i class="fa fa-user"></i>{{ blog.author}}</li>
      <li><i class="fa fa-clock-o"></i>{{ blog.created_at|date:'H:i'}}</li>
      <li><i class="fa fa-calendar"></i>{{ blog.created_at|date:'d/m/Y'}}</li>
    </ul>

    <div class="rate" data-blog-id="{{blog.id}}">
      <span class="vote">
        <div class="star_1 ratings_stars">
          <input value="1" type="hidden" />
        </div>
        <div class="star_2 ratings_stars">
          <input value="2" type="hidden" />
        </div>
        <div class="star_3 ratings_stars">
          <input value="3" type="hidden" />
        </div>
        <div class="star_4 ratings_stars">
          <input value="4" type="hidden" />
        </div>
        <div class="star_5 ratings_stars">
          <input value="5" type="hidden" />
        </div>
      </span>
    </div>
  </div>
  <a href="{% url 'blog:BlogDetail' blog.id %}">
    <img src="{{blog.image.url}}" alt="" />
  </a>
  <p>{{ blog.content}}</p>
  <a class="btn btn-primary" href="{% url 'blog:BlogDetail' blog.id %}"
    >Read More</a
  >
</div>
{% endfor %}

<div class="pagination-area">
  <ul class="pagination">
    {% if page_obj.has_previous %}
    <li>
      <a href="?page=1">
        <i class="fa fa-angle-double-left"></i>
      </a>
    </li>

    <li>
      <a href="?page={{ page_obj.previous_page_number }}">
        <i class="fa fa-angle-left"></i>
      </a>
    </li>
    {% endif %} 
    {% for num in page_obj.paginator.page_range %} 
    {% if page_obj.number == num %}
    <li>
      <a href="?page={{ num }}" class="active">{{ num }}</a>
    </li>

    {% elif num > page_obj.number|add:"-2" and num < page_obj.number|add:"2" %}
    <li>
      <a href="?page={{ num }}">{{ num }}</a>
    </li>
    {% endif %} {% endfor %} {% if page_obj.has_next %}
    <li>
      <a href="?page={{ page_obj.next_page_number }}">
        <i class="fa fa-angle-right"></i>
      </a>
    </li>

    <li>
      <a href="?page={{ page_obj.paginator.num_pages }}">
        <i class="fa fa-angle-double-right"></i>
      </a>
    </li>
    {% endif %}
  </ul>
</div>

{% endblock %}
