{% extends "base.html" %} {% load static %} {% block content %}
<div class="col-sm-4 col-sm-offset-1">
  <div class="login-form">
    <h2>Đặt lại mật khẩu</h2>

    {% if invalid_link %}

    <p style="color: red">
      Link đặt lại mật khẩu không hợp lệ hoặc đã hết hiệu lực.
    </p>

    <a href="{% url 'users:Forgot_password' %}"> Gửi lại yêu cầu </a>

    {% else %}

    <form method="POST">
      {% csrf_token %} 
      {% for error in form.non_field_errors %}
      <p style="color: red">{{ error }}</p>
      {% endfor %}

      <div>
        <label>Mật khẩu mới</label>

        {{ form.password }} 
        {% for error in form.password.errors %}
        <p style="color: red">{{ error }}</p>
        {% endfor %}
      </div>

      <div>
        <label>Xác nhận mật khẩu</label>

        {{ form.confirm_password }} 
        {% for error in form.confirm_password.errors %}
        <p style="color: red">{{ error }}</p>
        {% endfor %}
      </div>

      <button type="submit">Lưu mật khẩu mới</button>
    </form>

    {% endif %}
  </div>
</div>
{% endblock %}
