{% extends 'base.html' %} {% load static %} {% block content %}
<div class="col-sm-4 col-sm-offset-1">
  <div class="login-form">
    <!--login form-->
    <h2>Forgot Password</h2>
    <form method="POST" class="forgot_password_form">
      {% csrf_token %} 
        <input type="text" placeholder="Nhập email của bạn" name="" id="forgot_password">
      <button type="submit" class="btn btn-default" id="send">Send</button>
    </form>
  </div>
</div>
<script>
$(document).ready(function(){
    $('#send').click(function(e){
        e.preventDefault()
        $form = $(this).closest('.forgot_password_form')
        let forgot_password = $form.find('#forgot_password').val()
        alert(forgot_password)
        $.ajax({
            type:'POST',
            headers:{
                'X-CSRFToken':'{{csrf_token}}'
            },
            url:"{% url 'users:Forgot_password' %}",
            data:{
                'forgot_password':forgot_password
            },
            success:function(data){
                if(data.success){
                    alert('done')
                }
                if(data.err){
                    alert(data.err)
                }

            }
        })
    })
})
</script>
{% endblock %}
